<div class="wrap" id="gap">
    <div class="left-frame">
        <div>
            <div class="panel-3">03<span class="hop">-111968</span></div>
            <div class="panel-4">04<span class="hop">-041969</span></div>
            <div class="panel-5">05<span class="hop">-1701D</span></div>
            <div class="panel-6">06<span class="hop">-071984</span></div>
            <div class="panel-7">07<span class="hop">-081940</span></div>
            <div class="panel-8">08<span class="hop">-47148</span></div>
            <div class="panel-9">09<span class="hop">-081966</span></div>
        </div>
        <div>
            <div class="panel-10">10<span class="hop">-31</span></div>
        </div>
    </div>
    <div class="right-frame">
        <div class="bar-panel">
            <div class="bar-6"></div>
            <div class="bar-7"></div>
            <div class="bar-8"></div>
            <div class="bar-9"></div>
            <div class="bar-10"></div>
        </div>
        <div class="corner-bg">
            <div class="corner"></div>
        </div>
        <div class="content">
            <div class="lcars-text-bar"><span>All Blog Posts</span></div>
            <ul class="lcars-list uppercase">
                {% for post in site.posts %}
                <li id="blogpost-{{ post.date | date: '%s' }}">
                    <a href="{{ post.url }}">{{ post.title }}</a>
                    <br>
                    <span id="stardate-{{ post.date | date: '%s' }}"></span>
                    <span> &bull; </span>
                    <span id="timestamp-{{ post.date | date: '%s' }}">{{ post.date | date: '%B %-d, %Y' }}</span>
                </li>
                {% endfor %}
            </ul>
            {% include footer.html %}
        </div>
    </div>
</div>
<script type="text/javascript">
const timestamps = document.querySelectorAll(`[id^="timestamp-"]`);
for(let i = 0; i < timestamps.length; i++) {
    let suffix = timestamps[i].id.split('-')[1];
    renderStardate(`#timestamp-${suffix}`,`#stardate-${suffix}`);
}
</script>