<footer>
    <div class="footer-inside">
        <div class="footer-text">
            <span>{{ site.time | date: '%Y' }} &copy; {{ site.title }}. All Rights Reserved.</span>
            <span>
                <span>LCARS Inspired Website Template by</span>
                <a href="https://thelcars.com" target="_blank">www.TheLCARS.com</a>
                <span>and modified by {{ site.title }}.</span>
            </span>
            <span>
                <span>STAR TREK &reg; and its various marks are trademarks of CBS Studios Inc.</span>
                <br>
                <span>{{ site.title }} is not affiliated with, endorsed by, or sponsored by CBS Studios Inc.</span>
            </span>
        </div>
    </div>
    <div class="footer-panel">
        <span><span class="hop">22</span>47</span>
    </div>
</footer>
<script type="text/javascript" src="/assets/js/cascade.min.js"></script>
<script type="text/javascript" src="/assets/js/lcars.min.js"></script>