<head>
<title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
{% if page.title %}
{% assign posting = page.content | strip_html | truncatewords: 50 %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ posting }}{% endif %}">
<meta name="theme-color" content="#{{ site.color }}">
<meta property="og:site_name" content="{{ site.title }}">
<meta property="og:type" content="website">
<meta property="og:title" content="{{ page.title }}">
<meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ posting }}{% endif %}">
<meta property="og:url" content="{{ site.url}}{{ page.url }}">
<meta property="og:image" content="{% if page.image %}{{ page.image }}{% else %}{{ site.image }}{% endif %}">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:creator" content="@OfficialChroma9">
<meta name="twitter:title" content="{{ page.title }}">
<meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ posting }}{% endif %}">
<meta name="twitter:image" content="{% if page.image %}{{ page.image }}{% else %}{{ site.image }}{% endif %}">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="shortcut icon" href="{{ site.favicon }}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Antonio:wght@400;700&display=swap">
<link rel="stylesheet" href="/assets/css/{{ site.style }}.min.css">
{% else %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="{{ site.description }}">
<meta name="theme-color" content="#{{ site.color }}">
<meta property="og:site_name" content="{{ site.title }}">
<meta property="og:type" content="website">
<meta property="og:title" content="{{ site.title }}">
<meta property="og:description" content="{{ site.description }}">
<meta property="og:url" content="{{ site.url}}">
<meta property="og:image" content="{{ site.image }}">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:creator" content="@OfficialChroma9">
<meta name="twitter:title" content="{{ site.title }}">
<meta name="twitter:description" content="{{ site.description }}">
<meta name="twitter:image" content="{{ site.image }}">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="shortcut icon" href="{{ site.favicon }}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Antonio:wght@400;700&display=swap">
<link rel="stylesheet" href="/assets/css/{{ site.style }}.min.css">
{% endif %}

<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script type="text/javascript" src="/assets/js/stardate.min.js"></script>

</head>