<!DOCTYPE HTML>
<html>
{% include head.html %}

<body class="bg-black text-white text-center">
    <div class="container-fluid m-0 p-0">
        <div id="name-region">
            <h1 class="display-1">
                <a id="name-link" href="/" class="text-white">
                    <span id="name-icon-prefix"></span>
                    <span id="name-prefix"></span><span id="name">Chroma9</span><span id="name-suffix"></span>
                    <span id="name-icon-suffix"></span>
                </a>
            </h1>
        </div>
    </div>
</body>
<script src="{{ site.url }}/assets/js/chroma9.min.js"></script>
</html>